<form method="POST">
    User: {{ user.username }}<br/>
    Client: {{ client.id }}<br/>
    <button name="action" value="accept">Accept</button> <button name="action" value="deny">Deny</button>
</form>